{% extends 'layout.html' %}

{% block body %}
<table class="table table-striped">
        <tr>
          <th>Assigned Store</th>
          <th>Vendor's Name</th>
          <th>Chosen Template</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for article in articles %}
          <tr>
            <td>{{article.stname}}</td>
            <td>{{article.vdname}}</td>
            <!-- <td>{{article.adname}}</td> -->
            <td>{{article.temp}}</td>
            <!-- <td>{{article.price}}</td> -->
           
            <!-- <td>{{article.title}}</td>
            <td>{{article.author}}</td>
            <td>{{article.create_date}}</td> -->
           
          </tr>
        {% endfor %}
      </table>
<!-- <form method=POST enctype=multipart/form-data action="{{ url_for('advupload') }}"> -->
       <div style="position:relative;">
        <form method= "POST" enctype=multipart/form-data action="{{ url_for('upload') }}">
    
            <a class='btn btn-primary' href='javascript:;'>
                Choose File...
                <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name=photo size="40"  onchange='$("#upload-file-info").html($(this).val());'>
            </a>
            &nbsp;
            <span class='label label-info' id="upload-file-info"></span><br/><br/>
            <input type="submit" value="Submit">
          </form>
    </div>
  


{% endblock %}
