<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>E-Receipt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <h1>Login</h1>
    <style>
    h1{
        text-align: center;
    }
    </style>
  </head>
  <body>
        <div class="row">
                <div class="col-md-12 school-options-dropdown text-center">
                  <div class="dropdown btn-group">
              
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">I am
                      <span class="caret"></span>
                    </button>
              
                    <ul class="dropdown-menu">
                      <li><a href="/vlogin">a Vendor</a></li>
                      <li><a href="/elogin">an Employee</a></li>
                      <li><a href="/alogin">an Advertiser</a></li>

                    </ul>
              
                  </div>
                </div>
              </div>
    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
       
      </body>
    </html>