{% extends 'layout.html' %}

{% block body %}
  <!-- <h1>Dashboard <small> Welcome {{session.username}}</small></h1> -->
  <!-- <a class="btn btn-success" href="/add_product"> Add Products</a> -->

  <hr>
  <table class="table table-striped">
    <tr>
      <th>Store Name</th>
      <th>Vendor Name</th>
      <th>Advertiser Name</th>
      <th>Template</th>
      <th></th>
      <th></th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article.stname}}</td>
        <td>{{article.vdname}}</td>
        <td>{{article.adname}}</td>
        <td>{{article.temp}}</td>
        <!-- <td>{{article.price}}</td> -->
       
        <!-- <td>{{article.title}}</td>
        <td>{{article.author}}</td>
        <td>{{article.create_date}}</td> -->
        <td><a href="edit_article/{{article.sid}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_article', id=article.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
